/* color variables defaults, will be overrided by palette menu */
:root {
	--color1: #cacaca;
	--color2: #f76700;
	--color3: #4a3553;
	--color4: #000000cc;
	--color5: #3e2239;
	--textshadow: #666666;
}

html, body {
	background-color: var(--color5);
	background-image: url(https://battleofthebits.com/disk/debris/botb_bg.png);
	background-attachment: fixed;
	color: var(--color1);
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	text-rendering: optimizeLegibility;
	text-shadow: 0px 1px 1px var(--textshadow);
}
html {
  /*background-color: #eee;*/
}
body {
  background: var(--color4);
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  width: 100%;
  max-width: 960px;
  min-width: 450px;
  height:auto;
}
.inner {
	margin-left: 10px;
	margin-right: 10px;
}



#status {
  color: var(--color1);
  font-family: monospace;
  margin-top: 14px;
  margin-left: 3px;
  margin-bottom: 0px;
}



#resulttable {
	width: 100%;
	border-spacing: 0px;
	padding-left: 5px;
	margin-top: 14px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	text-align:left;
	/* line-height: 11px; */
	color: #0000;
    background-color: #0000;
}

/* table theme overrides */
th {
	font-family: Verdana, Helvetica, sans-serif !important;
	font-size: 14px !important;
	background-color: #0004 !important;
}
tbody > tr:hover > td {
	background-color: #0004 !important;
}
td {
  padding-top: 0px !important;
  padding-bottom: 2px !important;
  border-bottom: 0px !important;
  color: var(--color1) !important;
}


tr:nth-child(2n) > td {
  background: #fff1
}
tr:nth-child(2n+1) > td {
  background: #0001
}
.iconlabel {
	display: none;
}
a {
	text-decoration: none;
	color: var(--color2);
	overflow-wrap: anywhere;
}
td:hover > a {
	color: var(--color1);
}

.rightinfo {
	text-align:right;
}






#LOGO {
	position: relative;
}
.logo {
	display: block;
	font-size: 51px;
	font-family: Arial Black, Arial, sans-serif;
	font-weight: 900;
	letter-spacing: -5px;
	white-space: nowrap;
	line-height: 30px;
	height: 40px;
}
.logo0 {
	position: absolute;
	top: 0px;
	color: var(--color4);
	z-index: 10;
	text-shadow: none;
}
.logo1 {
	position: absolute;
	top: 5px;
	color: var(--color3);
	z-index: 20;
	text-shadow: none;
}
.logo2 {
	position: absolute;
	top: 10px;
	color: var(--color1);
	z-index: 30;
}


input {
	background-color: var(--color5);
	color: var(--color1);
	border: 2px solid;
	border-color: rgb(from var(--color4) r g b / 255);
	border-radius: 5px;
}
select, .button {
	background-color: var(--color3);
	color: var(--color2);
	border-style: none;
	border-radius: 3px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.button {
	cursor: pointer;
}
select:hover {
	background-color: rgb(from var(--color3) calc(r*.9) calc(g*.9) calc(b*.9));
	color: rgb(from var(--color2) calc(r*.9) calc(g*.9) calc(b*.9));
}
select:focus, .button:hover {
	background-color: var(--color1);
	color: var(--color5);
}

#PALETTE_MENU {
	position: relative;
	float: right;
}

/*mobile styling*/

@media screen and (max-width: 750px) {
	.logo {
		font-size: 24px !important;
		letter-spacing: -3px !important;
	}
	
	.subtitle {
		font-size: 9px !important;
	}
}